{% extends "base.tmpl" %}

{% block content %}
  {% include 'blocks/flashed_messages.block' %}

  {% from "macros/render_form_field.macro" import render_field, render_field_with_errors %}

  <form action="" method="post" class="form form-signin" role="form">
    {{ form.csrf_token }}

    <div class="form-group">
      {{ render_field_with_errors(form.name, class_="form-control") }}
      {{ render_field_with_errors(form.password, class_="form-control") }}
      {{ render_field(form.remember_me, class_="form-control") }}
    </div>

    <input type="submit" value="Submit" />

  </form>
  <p>
    Forgot Your Password?
    <a href="{{ url_for('auth.request_password_reset') }}">Click to Reset It</a>
  </p>
{% endblock %}
