{% extends "base.tmpl" %}

{% block content %}
  {% include 'blocks/flashed_messages.block' %}
  {% from "macros/render_form_field.macro" import render_field %}

  <h1>Register</h1>
  <form action="" method="post" class="form form-register" role="form">
    {{ form.csrf_token }}
    <div class="form-group">
      {{ render_field(form.name, class_="form-control") }}
      {% for error in form.name.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}

      {{ render_field(form.mail, class_="form-control") }}
      {% for error in form.mail.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}

      {{ render_field(form.password, class_="form-control") }}
      {% for error in form.password.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}

      {{ render_field(form.password2, class_="form-control") }}
      {% for error in form.password2.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </div>

    <input type="submit" value="Submit" />

{% endblock %}
