{% extends 'base.tmpl' %}

{% block title %}404{% endblock %}

{% block content %}
  <div>
    <h1>404</h1>
    <h2>Not Found</h2>
    <a href="{{ url_for('main.index') }}">Back</a>
  </div>
{% endblock %}
