{% extends "base.tmpl" %}

{% block navbar %}
  {% include 'blocks/navbar.block'%}
{%- endblock navbar %}

{% block content %}
  {% include 'blocks/flashed_messages.block' %}

  <div>
    <p>User avatar: <img src="{{ user.avatar(64) }}"></p>
    <p>User: {{ user.name }}</p>
    <p>Account deleted: {{ current_user.deleted }}</p>
    <p>Account deleted on: {{ current_user.deleted_on }}</p>
    <p>Account created on: {{ current_user.creation }}</p>
    <p>Last seen: {{ current_user.last_seen }}</p>
    <p>Confirmed: {{ current_user.confirmed }}</p>
    <p>Confirmed on: {{ current_user.confirmed_on }}</p>
    <p>Account active: {{ current_user.active }}</p>
  </div>
  <div>
    <a href="{{ url_for('user.edit_profile') }}">Edit profile</a>
    <a href="{{ url_for('user.delete_account') }}">Delete profile</a>
  </div>
{% endblock %}
